$brown: #815854;
$beige: #F9EBDE;
$brownShadow: #8158544f;
$brownOpacity: #815854b4;
$pinkBeige: #eba3b5;

.App {
  min-width: 470px;
}

// .h1 {
//   font-size: 2.4em;
//   font-weight: 700;
//   text-align: center;
//   font-style: italic;
//   line-height: 2;
//   background-color: $brown;
//   padding: 0;
//   margin: 0;

//   a {
//     text-decoration: none;
//     color: $beige;
//     transition: color 500ms linear;
//   }

//   a:hover {
//     color: $pinkBeige;
//   }
// }

// .searchContainer {
//   background-color: $brownShadow;
//   height: 60px;
//   display: flex;
//   flex-direction: row;
//   flex-wrap: nowrap;
//   justify-content: space-evenly;
//   align-items: center;

//   form {
//     min-width: 470px;
//   }
// }

// .search {
//   width: 400px;
//   height: 54px;
//   border: none;
//   border-radius: 5px;
//   padding: 10px;
//   font-size: 1.4em;
//   color: $brown;
//   text-shadow: 2px 2px 4px $brownShadow;
//   letter-spacing: 3px;
// }

// .searchBtn {
//   display: inline-block;
//   margin-left: 14px;
//   vertical-align: middle;
//   width: 50px;
//   height: 42px;
//   background-color: $brownOpacity;
//   border: none;
//   border-radius: 15px;

//   svg {
//     color: $beige;
//     font-size: 2em;
//     pointer-events: none;
//   }
// }

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 0;
}
